 <main class="main minh-100vh">
    <!-- Section -->
    <section class="text-center py-0">
        <div class="bg-container overlay overlay-20" style="background-image: url(/img/laeti-6/veniseback.jpg)"></div>
        <div class="container">
         <div class="row no-gutters minh-100vh h-100vh pt-6 py-lg-7 align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <form class="p-3 p-md-5 bg-secondary"; style="border-radius: 15px;">
                    <h1 class="mb-5 text-white text-uppercase" style="font-family: 'Playfair Display', serif;">Contact</h1>
                    <p class="mb-5 text-white text-uppercase">Retrouvez-moi sur Instagram</p>
                    <a href="https://instagram.com/laetitiacecileanne?igshid=d2bhllfwfq7v" target="_blank">
                    <i class="fab fa-instagram fa-lg white-text fa-4x" style="color: white;"> </i></a><br><br><br>
                    <p class="mb-5 text-white text-uppercase">Ou par mail :<br><br>
                    <a href="mailto:prodlaeti@yahoo.com" style="color: white;">prodlaeti@yahoo.com</a></p>  
                    <%= link_to "revenir à la parge d'accueil", root_path, class:'font-italic', style:'color: white;' %>                        
                    
                </form>
            </div>
         </div>
        </div>
    </section>
</main>