  

        <!-- Main Content -->
        <main class="main minh-100vh">
            <!-- Section -->
            <section class="py-0 overflow-hidden text-center">
                <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background: url(<%= asset_path 'redim.jpg' %>)"></div>
                <div class="container">
                    <div class="row h-100vh align-items-center">
                        <div class="col">
                            <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="fade-right" data-aos-duration="1000">Laetitia Reversat</h1>
                            <p class="mb-5 fs-0 fs-lg-1 text-white" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Photographe</p>

                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section class="py-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 order-lg-2 py-6 py-lg-9 px-0">
                            <div class="grid">
                                <div class="row no-gutters mt-neg-3">
                                    <div class="col-md-6 col-lg-4 p-3 grid-item print vision">
                                        
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1020026.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1020026.JPG" alt="Image 01" /></a>
                                        
                                        

                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item branding campaign">
                                        <a data-fancybox="gallery" href="/img/laeti-6/VENISE.jpg"><img class="img-fluid w-100" src="/img/laeti-6/VENISE.jpg" alt="Image 02" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item identity vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1020014.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1020014.JPG" alt="Image 03" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item branding campaign">
                                        <a data-fancybox="gallery" href="/img/laeti-6/Photo23_23A.jpg"><img class="img-fluid w-100" src="/img/laeti-6/Photo23_23A.jpg" alt="Image 04" /></a>
                                    </div>
                                    <div class="col-12 col-lg-8 p-3 grid-item art vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1000015.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1000015.JPG" alt="Image 05" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item art online">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1010005.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1010005.JPG" alt="Image 06" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item art vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/Photo25_25A.jpg"><img class="img-fluid w-100" src="/img/laeti-6/Photo25_25A.jpg" alt="Image 09" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item print campaign">
                                        <a data-fancybox="gallery" href="/img/laeti-6/back.jpg"><img class="img-fluid w-100" src="/img/laeti-6/back.jpg" alt="Image 08" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item art vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/Photo06_6A.jpg"><img class="img-fluid w-100" src="/img/laeti-6/Photo06_6A.jpg" alt="Image 09" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item art vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1000022.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1000022.JPG" alt="Image 10" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item web online">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1020022.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1020022.JPG" alt="Image 11" /></a>
                                    </div>
                                    <div class="col-md-6 col-lg-4 p-3 grid-item identity vision">
                                        <a data-fancybox="gallery" href="/img/laeti-6/F1020024.JPG"><img class="img-fluid w-100" src="/img/laeti-6/F1020024.JPG" alt="Image 12" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 order-lg-1">
                            <div class="pb-6 py-lg-9" data-toggle="sticky">
                                <h5 class="mb-4 text-uppercase text-600">Types</h5>
                                <ul class="mb-6 list-unstyled text-600">
                                    <li class="mb-1"><a href="javascript:;" data-filter="*" class="text-600">All</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".art" class="text-600">Art</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".branding" class="text-600">Branding</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".identity" class="text-600">Identity</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".print" class="text-600">Print</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".web" class="text-600">Web</a></li>
                                </ul>
    
                                <h5 class="mb-4 text-uppercase text-600">Categories</h5>
                                <ul class="list-unstyled text-600">
                                    <li class="mb-1"><a href="javascript:;" data-filter="*" class="text-600">All</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".campaign" class="text-600">Campaign</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".online" class="text-600">Online</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".video" class="text-600">Video</a></li>
                                    <li class="mb-1"><a href="javascript:;" data-filter=".vision" class="text-600">Vision</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->

            <!-- Section -->
            <section class="pt-0 text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col col-md-10 col-lg-6">
                            <h3 class="mb-4 text-uppercase">Our project goal</h3>
                            <p class="text-600">Integer urna nibh, ultricies eget velit sed, ornare mollis nibh. Sed sagittis, enim scelerisque bibendum hendrerit, ligula est sagittis magna, at faucibus eros orci a nunc. Aliquam non mauris at elit.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End of Section -->
        </main>
        <!-- End of Main Content -->


        <!-- Footer -->
