  

<!-- Main Content -->
<main class="main minh-100vh">
    <!-- Section -->
    <section class="py-0 overflow-hidden text-center">
        <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(/img/laeti-4/redim2.jpg)"></div>
        <div class="container">
            <div class="row h-100vh align-items-center">
                <div class="col">
                    <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="fade-right" data-aos-duration="1000">Laetitia Reversat</h1>
                    <p class="mb-5 fs-0 fs-lg-1 text-white" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Photographe</p>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->

    <!-- Section -->
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 order-lg-2 py-6 py-lg-9 px-0">
                    <div class="grid">
                        <div class="row no-gutters mt-neg-3">
                            <div class="col-md-6 col-lg-4 p-3 grid-item print vision">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF01.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF01.jpg" alt="Image 01" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF02.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF02.jpg" alt="Image 02" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF03.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF03.jpg" alt="Image 03" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF04.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF04.jpg" alt="Image 04" /></a>
                            </div>
                            <div class="col-12 col-lg-8 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF5.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF5.jpg" alt="Image 05" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF6.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF6.jpg" alt="Image 06" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF7.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF7.jpg" alt="Image 09" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item portrait">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF8.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF8.jpg" alt="Image 08" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF9.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF9.jpg" alt="Image 09" /></a>
                            </div>
                            <div class="col-md-6 col-lg-4 p-3 grid-item arch">
                                <a data-fancybox="gallery" href="/img/laeti-4/MANIF10.jpg"><img class="img-fluid w-100" src="/img/laeti-4/MANIF10.jpg" alt="Image 10" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 order-lg-1">
                    <div class="pb-6 py-lg-9" data-toggle="sticky">
                        <h5 class="mb-4 text-uppercase text-600">Types</h5>
                        <ul class="mb-6 list-unstyled text-600">
                            <li class="mb-1"><a href="javascript:;" data-filter="*" class="text-600">Toutes</a></li>
                            <li class="mb-1"><a href="javascript:;" data-filter=".portrait" class="text-600">Portrait</a></li>
                            <li class="mb-1"><a href="javascript:;" data-filter=".arch" class="text-600">Architecture</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->

    <!-- Section -->
    <section class="pt-0 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-lg-6">
                    <h3 class="mb-4 text-uppercase">Our project goal</h3>
                    <p class="text-600">Integer urna nibh, ultricies eget velit sed, ornare mollis nibh. Sed sagittis, enim scelerisque bibendum hendrerit, ligula est sagittis magna, at faucibus eros orci a nunc. Aliquam non mauris at elit.</p>
                </div>
            </div>
        </div>
    </section>
    <nav class="my-0 pt-4" aria-label="Page pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <%= link_to 'Précédent', root_path, class:'page-link'%>
            </li>
            <li class="page-item"><%= link_to '1', root_path, class:'page-link'%></li>

            <li class="page-item active"><%= link_to '2', page2_path, class:'page-link'%></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <!-- End of Section -->
</main>
<!-- End of Main Content -->


<!-- Footer -->
