<footer class="page-footer font-small bg-secondary">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->

      <div class="col-md-12 py-5">
        
    

          
<p class="text-center" ><a href="mailto:prodlaeti@yahoo.com" style="color: white;">MAIL : <br>prodlaeti@yahoo.com</a></p>

      </div>
      <!-- Grid column -->
      </div>
  <!-- Footer Elements -->
   


    </div>
    <!-- Grid row-->
  <!-- Copyright -->

</footer>