<footer class="page-footer font-small bg-secondary">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->

      <div class="col-md-12 py-5">
        <div class="text-center" style="color: white;">Retrouvez-moi sur Instagram :</div>
        <br>
        <div class="mb-5 text-center">

          <!--Instagram-->
          <a href="https://instagram.com/laetitiacecileanne?igshid=d2bhllfwfq7v" target="_blank">
            <i class="fab fa-instagram fa-lg white-text fa-4x" style="color: white;"> </i></a>
          <br><br>
<p class="text-center" ><a href="mailto:prodlaeti@yahoo.com" style="color: white;">prodlaeti@yahoo.com</a></p>
        </div>
      </div>
      <!-- Grid column -->
      </div>
  <!-- Footer Elements -->
   


    </div>
    <!-- Grid row-->
  <!-- Copyright -->

</footer>