<!-- Header -->
        <header class="spyre-navbar navbar navbar-expand-lg bg-secondary navbar-dark fixed-top align-items-center" data-transparent data-text-color="#ffffff">
            <div class="container">
                <a class="navbar-brand mr-lg-5 mr-xl-7" href="../pages/index.html">
                    <img src="../assets/img/logo.svg" class="d-none d-lg-block" alt="Spyre" width="183" />
                    <img src="../assets/img/logo.svg" class="d-block d-lg-none" alt="Spyre" width="150" />
                </a>

                <span class="navbar-text flex-fill d-none d-md-inline-block text-white">
                    Contact us: <a href="#" class="pl-2 text-white">info@spyre.com</a><a href="#" class="pl-5 text-white">+1-202-555-0149</a>
                </span>

                <div class="search d-none d-lg-flex justify-content-end ml-auto mr-2">
                    <input class="form-control mr-2" type="text">
                    <i class="zmdi zmdi-search"></i>
                </div>

                <div class="menu-toggle">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="cross">
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>

            <!-- Spyrenav Overlay -->
            <div class="spyre-navbar-overlay overlay-slide">
                <div class="container">
                    <div class="row">
                        <div class="spyre-navbar-nav-container col-md-6 col-lg-5 col-xl-4 bg-white ext-l">
                            <nav class="spyre-navbar-nav">
                                <ul class="spyre-nav">
                                    <li class="spyre-nav-item"><a href="../pages/index.html" class="spyre-nav-link">Overview</a></li>
                                    <li class="spyre-nav-item dropdown">
                                        <a href="#" class="spyre-nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="dropdown-menu-item"><a href="../pages/home.html" class="dropdown-menu-link">Homepage</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/services.html" class="dropdown-menu-link">Services</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/blog.html" class="dropdown-menu-link">Blog</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/blog-single.html" class="dropdown-menu-link">Blog single</a></li>
                                            <li class="dropdown-menu-item active"><a href="../pages/portfolio.html" class="dropdown-menu-link">Portfolio</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/about.html" class="dropdown-menu-link">About</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/contact.html" class="dropdown-menu-link">Contact</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/team.html" class="dropdown-menu-link">Team</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/faq.html" class="dropdown-menu-link">Faq</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/pricing.html" class="dropdown-menu-link">Pricing</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/careers.html" class="dropdown-menu-link">Careers</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/careers-single.html" class="dropdown-menu-link">Careers single</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/coming-soon.html" class="dropdown-menu-link">Coming soon</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/404.html" class="dropdown-menu-link">404</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/sign-in.html" class="dropdown-menu-link">Sign In</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/sign-up.html" class="dropdown-menu-link">Sing Up</a></li>
                                            <li class="dropdown-menu-item"><a href="../pages/recover-account.html" class="dropdown-menu-link">Recover account</a></li>
                                        </ul>
                                    </li>
                                    <li class="spyre-nav-item"><a href="../docs/animations.html" class="spyre-nav-link">Components</a></li>
                                    <li class="spyre-nav-item"><a href="../docs/index.html" class="spyre-nav-link">Docs</a></li>
                                    <li class="spyre-nav-item"><a href="https://themes.getbootstrap.com/product/spyre-slick-contemporary-multipurpose-theme" target="_blank" class="spyre-nav-link">Purchase</a></li>
                                </ul>
                            </nav>
                        </div>
        
                        <div class="col-lg-7 col-xl-8 d-none d-md-block">
                            <div class="d-flex flex-column h-100">
                                <div class="d-flex h-100">
                                    <div class="align-self-center">
                                        <div class="text-uppercase"
                                            data-background-text="communication"
                                            data-color="#7079a2"
                                            data-opacity="0.02"
                                            data-font-size="85px"
                                            data-font-weight="500"
                                            data-offset-x="-5%"
                                            data-letter-spacing="5px"
                                        ></div>
                                        <div class="text-uppercase"
                                            data-background-text="planning"
                                            data-color="#7079a2"
                                            data-opacity="0.04"
                                            data-font-size="175px"
                                            data-font-weight="500"
                                            data-offset-x="29%"
                                            data-padding="7vh 0 2vh 0"
                                            data-letter-spacing="5px"
                                        ></div>
                                        <div class="text-uppercase"
                                            data-background-text="delivering"
                                            data-color="#7079a2"
                                            data-opacity="0.03"
                                            data-font-size="140px"
                                            data-font-weight="500"
                                            data-offset-x="15%"
                                            data-letter-spacing="5px"
                                        ></div>
                                    </div>
                                </div>
                                
                                <div class="mt-auto">
                                    <ul class="nav flex-nowrap float-right">
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-twitter text-white"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-instagram text-white"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-facebook-box text-white"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-pinterest text-white"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-flickr text-white"></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link px-2" href="#" target="_blank">
                                                <i class="zmdi zmdi-youtube text-white"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Spyrenav Overlay -->
        </header>